header{
color: white;
height: 70px;
width: 100%;
border-bottom: 1px solid #CCCCCC;
}
header .logo{
background-image: url("../images/logo.png");
margin-left:20px;
background-repeat: no-repeat;
height: 100%;
}
